.players {
  height: 100vh;
  background-color: var(--black);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--primary);
}

.players h1 {
  margin-bottom: 1.5em;
}

.players-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-clear {
  margin-left: 2em;
  align-self: center;
}
